
.bodyLogin {
    font-family: Metropolis, sans-serif;
    color: #556575;
    font-size: 17px;
    line-height: 1.5;
    padding:7% 0% 15%;
    background-image: url(../../assets/background.png);
  }
  .bodyLogin .row {
    justify-content: center;
  }
  .bodyLogin .row .login {
    justify-content: start;
    border: solid 1px #556575;
    border-radius: 5px;
    box-shadow: 20px -20px #2B65EC;
    width: 450px;
    height: 450px;
    padding: 60px;
    padding-top: 15px;
  }
  .bodyLogin .row .login h1 {
    text-align: center;
    color: black;
  }
  .bodyLogin .row .login .form-control, .bodyLogin .row .login .btn {
    margin-left: 0;
    width: 300px;
    height: 50px;
  }
  .bodyLogin .row .login .form-check {
    width: auto;
  }
  .bodyLogin .row .login p {
    text-align: center;
    margin-top: 20px;
  }
  .bodyLogin .row .login p a {
    color: #556575;
  }
  .bodyLogin .row .login p a:hover {
    color: #2B65EC;
    text-decoration: none;
    cursor: pointer;
  }
  .bodyLogin .row .login .btn {
    background-color: #2B65EC;
  }
